.card {
    min-width: 18rem;
    min-height: 13rem;
    max-width: 28.25rem;
    max-height: 15.265rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    background-color: var(--primary-bg);
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontCard {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backCard {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    background-color: beige;
    transform: rotateY(180deg);
    border: 1px solid white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}