.sliderContainer {
    width: 18rem;
    overflow: hidden;
    margin: 0 auto;
}

.cardHolder {
    width: 18rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    transform: translateX(0);
    transition: all 300ms ease-out;
}

.flipButton {
    width: 8.875rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 2px;
    transition: all 300ms ease;
}

.flipButton:active {
    scale: 0.7;
}

.arrowButton {
    border-radius: 2px;
    transition: all 150ms ease-out;
}

.arrowButton:active {
    scale: 0.7;
}

.arrowButton:hover {
    background-color: gainsboro;
}