.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 14rem;
    height: auto;
    background-color: var(--secondary-bg);
    border: 1.5px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 1.062rem 1.5rem;
    gap: 0.5rem;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, 15%);
    flex: 1 0 0;
}

.title {
    font-weight: 700;
}

.paragraphBlock>p {
    text-align: justify;
    text-indent: 2rem;
    font-size: 0.875rem;
}

.listBlock>ol {
    list-style: decimal;
    list-style-position: inside;
}

.listBlock>ul {
    list-style-position: inside;
    list-style-type: square
}