.buttonDefault {
    /* color: hsl(0, 100%, 100%); */
    /* background-color: var(--primary-color); */
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.buttonTextIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    line-height: 1;
}

.buttonTextIcon svg[data-icon] {
    display: block;
    transform: translateY(1px);
}

.buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.buttonNavigation {
    color: hsl(0, 100%, 100%);
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
}