.subjectItem {
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    border-top: 1px solid hsl(0, 0%, 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 50ms ease-out;
}

.subjectItem:hover {
    background-color: var(--secondary-bg);
}