.tabsHeader {
    padding: 1rem 1rem;
    display: flex;
    column-gap: 1rem;
    overflow-x: auto;
}

.tabs {
    background-color: hsla(259, 53%, 76%, 0.2);
    padding: 6px 1rem;
    font-family: var(--font-secondary);
    border-radius: 2px;
    font-size: small;
    color: var(--secondary-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 8rem;
}

.addModuleButton {
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.activeTab {
    background-color: var(--secondary-color);
    color: white;
}

.tabContentContainer {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .tabContentContainer {
        flex-direction: row;
    }
}